@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-primary-color: hsl(180, 66%, 49%);
  --main-secondary-color: hsl(257, 27%, 26%);
  --white: #fff;
  --grey: hsl(0, 0%, 75%);
  --dark-grey: #616161;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.navbar {
  display: flex;
  margin: 0 3vw 5vh 3vw;
  justify-content: flex-start;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex: 1;
}

.navbar ul li {
  display: inline;
  list-style: none;
  padding: 3px 5px;
  font-size: 13px;
}

.nav-btn {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
}

.nav-btn:hover {
  background-color: var(--main-primary-color);
  color: white;
}

.active {
  background-color: var(--main-primary-color);
  color: var(--white);
}

#nav-brand {
  font-size: large;
  font-weight: 600;
  background-color: var(--white);
}

.nav-toggle-btn {
  display: none;
}

.nav-toggle-btn .line {
  height: 3px;
  width: 20px;
  margin: 3px 0;
  background-color: #616161;
  transition: 0.4s;
}

.nav-toggle-btn div.nav-toggled:nth-child(2) {
  opacity: 0 !important;
}
.nav-toggle-btn div.nav-toggled:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-6px, 3px);
  transform: rotate(-45deg) translate(-6px, 3px);
}

.nav-toggle-btn div.nav-toggled:last-child {
  -webkit-transform: rotate(45deg) translate(-5px, -3px);
  transform: rotate(45deg) translate(-5px, -3px);
}

.nav-toggle-btn:hover {
  cursor: pointer;
}

.page-intro {
  margin: 10vh 4vw 15vh 4vw;
  display: flex;
}

.page-intro div {
  flex-grow: 1;
}

.page-intro .title {
  /* font-size: 5vw; */
  font-weight: 700;
}

.page-intro img {
  margin: 20px 0;
}

.md-btn-primary {
  background-color: var(--main-primary-color);
  /* display: inline; */
  width: fit-content;
  color: var(--white);
  padding: 0px 22px;
  border-radius: 18px;
  padding: 8px 22px;
  text-align: center;
  margin: auto 0;
}

.intro-action {
  margin: 15px 0;
}

.muted-desc {
  font-size: 18px;
  color: var(--grey);
  margin: 10px 0;
}

.md-btn-primary:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-shorten {
  background-color: var(--main-primary-color);
  width: 100%;
  text-align: center;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  height: 45px;
  border-radius: 4px;
}

.btn-shorten:hover {
  opacity: 0.8;
}

.btn-copy {
  background-color: var(--main-primary-color);
  width: 100%;
  text-align: center;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  height: 35px;
  border-radius: 4px;
}

.copied {
  background-color: var(--main-secondary-color);
}

.btn-copy:hover {
  opacity: 0.8;
}

.url-form-sect-cont {
  margin: 0 5vw;
  top: -50px;
  position: relative;
}

.url-form-sect-1 {
  padding: 4vh 7vw;
  width: 100%;
  background: url("/images/bg-shorten-desktop.svg");
  background-color: hsl(255, 11%, 22%);
  background-size: cover;
  border-radius: 4px;
}

.url-form-sect {
  display: flex;
}

.url-form-sect div {
  flex-grow: 0.3;
}

.url-form-sect div:first-child {
  flex-grow: 1;
}

.url-form-sect input {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 4px;
}

.link-boost-sect {
  padding: 5vh 0;
  color: white;
  width: 100vw;
  background: url("/images/bg-boost-desktop.svg");
  background-color: hsl(255, 11%, 22%);
}

.footer-col {
  padding: 0 18px;
  margin-bottom: 20px;
}

.footer-sub-head {
  padding-bottom: 10px;
}

.footer-item {
  color: var(--grey);
  font-size: 14px;
  padding: 2px 0;
}

.footer {
  padding: 10vh;
  color: white;
  background-color: hsl(260, 8%, 14%);
}

.footer a:hover {
  color: var(--main-primary-color);
}

.footer-icon a:hover {
  color: var(--main-primary-color);
}

.footer-icon a {
  margin: 5px 4px;
}

.card-item {
  background-color: white;
  width: fit-content;
  /* align-self: center; */
  padding: 0 25px 25px 25px;
  text-align: justify;
  border-radius: 4px;
  margin-bottom: 50px;
}

.card-item-cont {
  display: flex;
  justify-content: center;
}

.card-item-desc {
  color: var(--dark-grey);
}

.card-item-title {
  font-weight: 700;
  font-size: 18px;
  padding: 0px 0 5px 0;
}

.footer-col img {
  padding: 4px 3px;
}

.links-sect a {
  color: var(--main-primary-color);
}

.link-list {
  background-color: white;
  width: 100%;
  border-radius: 4px;
  padding: 14px 12px;
}

.advert-icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  width: fit-content;
  top: -25px;
  left: -15px;
  background-color: var(--main-secondary-color);
}
/* 
.sect__2 {
  background-color: #f5f5f5;
  padding: 15vh 0;
}

.adv__stats__cont {
  padding: 8vh 0;
  margin: 5vw;
}

.adv__track {
  font-size: 15px;
  color: hsl(0, 0%, 75%);
  padding: 3px 0;
}

.brand__recog__cont {
  margin: 4vh 5vw 0 5vw;
}
*/

.footer-shortly {
  font-weight: 600;
  font-size: 20px;
  margin: 0 20px 15px 0;
}

@media only screen and (max-width: 400px) {
  .url-form-sect-1 {
    background: url("/images/bg-shorten-mobile.svg");
  }

  .link-boost-sect1 {
    background: url("/images/bg-boost-mobile.svg");
  }

  .page-intro {
    flex-direction: column-reverse;
  }
}

.nav-close {
  display: none;
}

@media only screen and (max-width: 770px) {
  .url-form-sect-1 {
    top: -90px;
  }
}

@media only screen and (max-width: 650px) {
  .navbar {
    /* margin: 0 3vw 5vh; */
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    color: white !important;
    background-color: hsl(257, 27%, 26%);
    border-radius: 12px;
    padding: 20px;
    /* max-width: 250px; */
    margin: auto;
  }

  .nav-links a {
    color: white;
  }

  .nav-links div {
    flex-direction: column;
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }

  .nav-links .nav-toggle-btn {
    align-self: end;
    width: fit-content;
  }

  .nav-links .nav-toggle-btn .line {
    background-color: white;
  }

  .nav-toggle-btn {
    display: inline-block;
  }

  .navbar ul li {
    display: inline;
    list-style: none;
    padding: 3px 5px;
    font-size: 13px;
  }
}
